@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('../font/iconfont.ttf?t=1750587612557') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jinzhi:before {
  content: "\e65c";
  color: #000000;
}

.icon-duanla:before {
  content: "\e7f8";
}

.icon-daimakuaicodeblock:before {
  content: "\e83d";
}

.icon-align-center:before {
  content: "\e7c6";
}

.icon-align-justify:before {
  content: "\e7c7";
}

.icon-align-left:before {
  content: "\e7c8";
}

.icon-align-right:before {
  content: "\e7c9";
}

.icon-bold:before {
  content: "\e7ca";
}

.icon-code-view:before {
  content: "\e7cb";
}

.icon-double-quotes-l:before {
  content: "\e7cc";
}

.icon-font-color:before {
  content: "\e7cd";
}

.icon-italic:before {
  content: "\e7ce";
}

.icon-link:before {
  content: "\e7cf";
}

.icon-link-unlink:before {
  content: "\e7d0";
}

.icon-list-ordered:before {
  content: "\e7d1";
}

.icon-list-unordered:before {
  content: "\e7d2";
}

.icon-split-cells-vertical:before {
  content: "\e7d3";
}

.icon-text-wrap:before {
  content: "\e7d4";
}

.icon-strikethrough:before {
  content: "\e7d5";
}

.icon-underline:before {
  content: "\e7d6";
}

.icon-13biaoti1:before {
  content: "\e68d";
}

.icon-14biaoti2:before {
  content: "\e68e";
}

.icon-15biaoti3:before {
  content: "\e68f";
}

.icon-16biaoti4:before {
  content: "\e690";
}

.icon-17biaoti5:before {
  content: "\e691";
}

.icon-18biaoti6:before {
  content: "\e692";
}

.icon-19beijingyanse:before {
  content: "\e693";
}

.icon-24zitiyanse:before {
  content: "\e69a";
}

.icon-25chehui:before {
  content: "\e69b";
}

.icon-26quxiaochehui:before {
  content: "\e69c";
}

